/* RUST: rgb(186, 151, 123) */
/* GREY: rgb(81,89,108) */
/* DARK PURPLE: rgb(55,54,72) */
/* DARK GREY: rgb(33,40,39) */
/* BEIGE: rgb(221,209,193) */

/* EMERALD: rgb(8,80,78) */
/* DARK EMERALD: rgb(15,40,37) */
/* WHITE: rgb(255,249,244) */

body { 
	margin: 0px;
	padding: 0rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif; 
	background-color: rgb(255,255,255);
	font-size: 50px;
	color: rgb(15,40,37);
	font-family: 'Open Sans Condensed', sans-serif;
	background-image: url(../img/snake_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	text-decoration: none;
	color: inherit;
}

#navbar {
	margin: 0;
	padding: 0.4rem 0rem 0.6rem 0rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	background-image: linear-gradient(to right, rgb(15,40,37), rgb(8,80,78));
	/*background-color: rgba(255,255,255,0.8);*/
	font-size: .5em;
	position: relative;
	box-shadow: 0px 0px 5px 0px rgba(15,40,37,1);
}

#site-name {
	margin-left: 2rem;
	color: rgb(255,249,244);
}

#site-name:hover {
	color: rgba(87,242,193,1);
 	background:-webkit-linear-gradient(
 		90deg, 
 		rgba(15,40,37,0.1) 30%,
 		rgba(255,255,255,0.0) 10%
	);
}

#site-nav {
	display: flex;
	align-items: center;
	padding-right: 1rem;
}

.nav-link {
	margin-right: 1rem;
	color: rgb(255,249,244);
	font-size: .76em;
}

.nav-link:hover {
	color: rgba(87,242,193,1);
 	background:-webkit-linear-gradient(
 		90deg, 
 		rgba(15,40,37,0.1) 30%,
 		rgba(255,255,255,0.0) 10%
	);
}

.arrow-up {
	color: rgba(87,242,193,0.5);
	/*color: rgba(171,248,224,1);*/
	font-size: 1em;
	position: fixed;
	bottom: 5vh;
	right: 5vh;
}

.block-container {
	/*padding-top: 10rem;*/
}

.index-banner {
	margin: 0 auto;
	padding: 0.5rem 0 0 0rem;
	width: 100%;
	height: 75vh;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	background-image: linear-gradient(to right, rgb(15, 40, 37), teal);
	border-bottom: 10px solid rgba(15,40,37,0.5);
}

.banner-text {
	margin: 15vh 0 0 20vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	color: rgb(255,255,255);
	text-align: left;
}

.banner-title {
	margin-bottom: 0.5rem;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: .05em;
}

.banner-subtitle {
	font-size: .45em;
	color: rgb(255,255,255);
	font-weight: lighter;
	letter-spacing: .05em;
}

.call-to-action {
	margin-top: 1em;
	padding: 0.2rem 1rem;
	color: rgba(15,40,37,0.7);
	font-size: 0.5em;
	background: rgba(255,255,255,1.0);
	border: rgba(87, 242, 193,0.7) 2.2px solid;
	border-radius: 8px;
	font-weight: bold;
}

.banner-image {
	margin: 5vh 0vw 0 0;
	padding: 0 0 0 5vw;
	overflow: visible;
	position: relative;
}

#snake-image {
	height: 65vh;
    position: relative;
}

.main-container, .full-container {
	margin: -6rem auto 3rem auto;
	padding: 4vh 5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: rgba(255,255,255,1);
	border-radius: 6px;
	box-shadow: 0px 0px 20px 0px rgba(120,120,120,0.4);
}

.main-container {
	width: 60vw;
}

.full-container {
	width: 80vw;

}

.content-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-title {
	margin: 0px;
	padding-top: 20px;
	font-size: 0.8em;
 	background:-webkit-linear-gradient(
 		90deg, 
 		rgba(87, 242, 193,0.7) 30%,
 		rgba(255,255,255,0.0) 10%
	);
}

.title-left {
	text-align: left;
}

.post-content {
	width: 100%;
}

.post-title {
	padding-top: 2rem;
	font-size: 0.7em;
}

.post-date {
	padding-top: 0.2rem;
	font-size: 0.3em;	
	color: rgba(100,100,100,0.7);
}

.post-body {
	padding: 0.7em 0 2rem 0;
	margin: 0 0 2rem 0;
	border-bottom: solid 3px rgba(87, 242, 193,0.4);
	font-size: 0.4em;
	width: 100%;
}


/* RESUME */
.resume-top {
	margin: 3rem 0 0 0;
	width: 100%;
	min-height: 440px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	border-bottom: solid 6px rgba(87, 242, 193,0.4);
	background-image: url(../img/c_with_snake.png);
	background-repeat: no-repeat;
	background-size: 30rem auto;
	background-position: bottom right;
}

.resume-title {
	padding: 2rem 0 1rem 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

.resume-name {
	margin: 0 0 0.2rem 0;
	padding: 1rem 0 1rem 0;
	font-size: 2.5em;
	line-height: 1.2em;
	font-weight: bold;
	text-shadow: 2px 2px white;
}

.resume-subtitle {
	margin: 0 0 0.7em 0.2em;
	width: 100%;
	display: grid;
  	grid-gap: 20px;
  	grid-column: 1fr 1fr;
	font-size: 0.75em;
	font-weight: lighter;
	color: rgba(81,89,108,0.8);
	text-shadow: 2px 2px white;
}

.subtitle-line {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.subtitle-line i {
	padding: 0 1.6rem;
	font-size: 0.4em;
	color: rgba(87, 242, 193,0.4);
}

.resume-content {
	margin: 0 auto 5rem auto;
	width: 100%;
}

.pill-box {
	margin: 3rem 0 1rem 0;
	width: 100%;
	display: flex;
  	flex-wrap: wrap;
	justify-content: flex-start;
}

.pill {
	margin: 0.5rem 2rem 0.8rem 0rem;
	padding: 0.2rem 1.6rem 0.4rem 1.6rem;
	min-width: 50px;
	color: rgba(15,40,37,0.7);
	font-size: 0.45em;
	background: rgba(87, 242, 193,0.3);
	border-radius: 40px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}

.tagline {
	font-weight: lighter;
	color: rgba(81,89,108,0.8);
	font-style: italic;
	line-height: 140%;
	font-size: .45em;
}

.tagline p {
	margin: 2rem 0 1rem 0;
}

.resume-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.resume-section-header {
	margin: 2.5rem 0 0.5rem 0;
	font-style: italic;
 	background:-webkit-linear-gradient(
 		90deg, 
 		rgba(87,242,193,0.5) 30%,
 		rgba(255,255,255,0.0) 10%
	);
}

.resume-section-title {
	font-size: 1.5em;
}

.resume-item {
	margin: 0 0 3.5rem 0;
	width: 60vw;
}

.resume-item-post {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	border-bottom: solid 3px rgba(87, 242, 193,0.4);
}

.post-title {
	flex-grow: 1;
	margin: 0.7rem 0 0.2rem 0;
	padding: 0.2rem 0 0.2rem 0;
	width: 100%;
	font-size: 0.6em;
	color: rgba(81,89,108,0.8);
}

.post-dates {
	min-width: 5rem;
	flex-grow: 0;
	color: rgba(81,89,108,0.7);
	font-weight: lighter;
	font-size: 0.4em;
	font-style: italic;
	text-align: right`;
}

.resume-item-org {
	padding: 0.4rem 0 0 0;
	color: rgba(81,89,108,0.7);
	font-weight: lighter;
	font-size: 0.4em;
}

.resume-item-description {
}

.resume-item-task {
	margin: 1rem 0 0rem 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.resume-item-task i {
	padding: 0.7rem 1.3rem 0 0rem;
	font-size: 0.3em;
	color: rgba(87,242,193,0.4);
}

.resume-item-task-detail {
	font-size: 0.5em;
	color: rgba(81,89,108,0.8);
	letter-spacing: 150%;
} 






/* FORMS */
.form-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.form-label {
	margin: 0px;
	padding: 1rem 0 0px 0;
	font-size: 0.5em;
 	background:-webkit-linear-gradient(
 		90deg, 
 		rgba(87, 242, 193,0.7) 20%,
 		rgba(255,255,255,0.0) 10%
	);
}

textarea {
	margin: 1rem 0;
	padding: 0;
	width: 50vw;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border-radius: 8px;
	border: rgba(87, 242, 193,0.7) 2.2px solid;
	background-color: rgba(255,255,255,0.);
	resize: none;
	box-shadow: 3px 3px 10px 0px rgba(120,120,120,0.1);
}

textarea:focus {
	border: rgba(87, 242, 193,0.7) 5px solid;
	outline: rgba(87, 242, 193, 0.7) 0px solid;
	border-radius: 8px;
}

input {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: .3em;
	font-weight: bold;
	color: rgba(15,40,37,0.7);
}

input[type=submit] {
	margin: 0;
	padding: 0.2rem 1rem;
	background: white;
	border: rgba(87, 242, 193,0.7) 2.2px solid;
	border-radius: 8px;
}

input[type=submit]:hover {
 	background: rgba(87, 242, 193,0.3);
	color: rgba(15, 40, 37, 1);
}