/* RUST: rgb(186, 151, 123) */
/* GREY: rgb(81,89,108) */
/* DARK PURPLE: rgb(55,54,72) */
/* DARK GREY: rgb(33,40,39) */
/* BEIGE: rgb(221,209,193) */

/* EMERALD: rgb(8,80,78) */
/* DARK EMERALD: rgb(15,40,37) */
/* WHITE: rgb(255,249,244) */

body { 
	margin: 0px;
	padding: 0rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif; 
	background-color: rgb(255,255,255);
	font-size: 50px;
	color: rgb(15,40,37);
	font-family: 'Open Sans Condensed', sans-serif;
	background-image: url(../img/snake_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	text-decoration: none;
	color: inherit;
}

#navbar {
	margin: 0;
	padding: 0.4rem 0rem 0.6rem 0rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	background-image: linear-gradient(to right, rgb(15,40,37), rgb(8,80,78));
	/*background-color: rgba(255,255,255,0.8);*/
	font-size: .5em;
	position: relative;
	box-shadow: 0px 0px 5px 0px rgba(15,40,37,1);
}

#site-name {
	margin-left: 2rem;
	color: rgb(255,249,244);
}

#site-name:hover {
	color: rgba(87,242,193,1);
 	background:-webkit-linear-gradient(
 		90deg, 
 		rgba(15,40,37,0.1) 30%,
 		rgba(255,255,255,0.0) 10%
	);
}

#site-nav {
	display: flex;
	align-items: center;
	padding-right: 1rem;
}

.nav-link {
	margin-right: 1rem;
	color: rgb(255,249,244);
	font-size: .76em;
}

.nav-link:hover {
	color: rgba(87,242,193,1);
 	background:-webkit-linear-gradient(
 		90deg, 
 		rgba(15,40,37,0.1) 30%,
 		rgba(255,255,255,0.0) 10%
	);
}

.arrow-up {
	color: rgba(8,80,78,1);
	font-size: 1em;
	position: fixed;
	bottom: 5vh;
	right: 5vh;
}

.index-banner {
	margin: 0 auto;
	padding: 0.5rem 0 0 0rem;
	width: 100%;
	height: 75vh;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	background-image: linear-gradient(to right, rgb(15, 40, 37), teal);
	border-bottom: 10px solid rgba(15,40,37,0.5);
}

.banner-text {
	margin: 15vh 0 0 20vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	color: rgb(255,255,255);
	text-align: left;
}

.banner-title {
	margin-bottom: 0.5rem;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: .05em;
}

.banner-subtitle {
	font-size: .45em;
	color: rgb(255,255,255);
	font-weight: lighter;
	letter-spacing: .05em;
}

.call-to-action {
	margin-top: 1em;
	padding: 0.2rem 1rem;
	color: rgba(15,40,37,0.7);
	font-size: 0.5em;
	background: rgba(255,255,255,1.0);
	border: rgba(87, 242, 193,0.7) 2.2px solid;
	border-radius: 8px;
	font-weight: bold;
}

.banner-image {
	margin: 5vh 0vw 0 0;
	padding: 0 0 0 5vw;
	overflow: visible;
	position: relative;
}

#snake-image {
	height: 65vh;
    position: relative;
}

.main-container {
	margin: -6rem auto 3rem auto;
	padding: 4vh 5vw;
	width: 60vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: rgba(255,255,255,1);
	border-radius: 6px;
	box-shadow: 0px 0px 20px 0px rgba(120,120,120,0.4);
}

.content-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-title {
	margin: 0px;
	padding-top: 20px;
	font-size: 0.8em;
 	background:-webkit-linear-gradient(
 		90deg, 
 		rgba(87, 242, 193,0.7) 30%,
 		rgba(255,255,255,0.0) 10%
	);
}

.post-content {
	width: 100%;
}

.post-title {
	padding-top: 2rem;
	font-size: 0.7em;
}

.post-date {
	padding-top: 0.2rem;
	font-size: 0.3em;	
	color: rgba(100,100,100,0.7);
}

.post-body {
	padding: 0.7em 0 2rem 0;
	margin: 0 0 2rem 0;
	border-bottom: solid 3px rgba(87, 242, 193,0.4);
	font-size: 0.4em;
	width: 100%;
}


/* FORMS */
.form-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.form-label {
	margin: 0px;
	padding: 1rem 0 0px 0;
	font-size: 0.5em;
 	background:-webkit-linear-gradient(
 		90deg, 
 		rgba(87, 242, 193,0.7) 20%,
 		rgba(255,255,255,0.0) 10%
	);
}

textarea {
	margin: 1rem 0;
	padding: 0;
	width: 50vw;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border-radius: 8px;
	border: rgba(87, 242, 193,0.7) 2.2px solid;
	background-color: rgba(255,255,255,0.);
	resize: none;
	box-shadow: 3px 3px 10px 0px rgba(120,120,120,0.1);
}

textarea:focus {
	border: rgba(87, 242, 193,0.7) 5px solid;
	outline: rgba(87, 242, 193, 0.7) 0px solid;
	border-radius: 8px;
}

input {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: .3em;
	font-weight: bold;
	color: rgba(15,40,37,0.7);
}

input[type=submit] {
	margin: 0;
	padding: 0.2rem 1rem;
	background: white;
	border: rgba(87, 242, 193,0.7) 2.2px solid;
	border-radius: 8px;
}

input[type=submit]:hover {
 	background: rgba(87, 242, 193,0.3);
	color: rgba(15, 40, 37, 1);
}