/* RUST: rgb(186, 151, 123) */
/* GREY: rgb(81,89,108) */
/* DARK PURPLE: rgb(55,54,72) */
/* DARK GREY: rgb(33,40,39) */
/* BEIGE: rgb(221,209,193) */

/* LIGHT EMERALD: rgb(6,125,124) */
/* EMERALD: rgb(8,80,78) */
/* DARK EMERALD: rgb(15,40,37) */
/* WHITE: rgb(255,249,244) */
/* MINT: rgb(87,242,193) */


echo "web: python pycurious.py" > Procfile

echo "web: flask db upgrade; gunicorn pycurious:app" > Procfile
