body { 
	margin: 0px;
	padding: 0rem 0 0 0rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif; 
	background-color: rgb(255,255,255);
	font-size: 50px;
	color: rgb(15,40,37);
	font-family: 'Open Sans Condensed', sans-serif;
	background-image: url(../img/snake_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	text-decoration: none;
	color: inherit;
}

.social-container {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.social-container i {
	padding: 0 1vw 4vh 1vw;
	color: rgba(87,242,193,0.5);
	font-size: 1em;
}

.social-container i:hover {
	color: rgba(81,89,108,0.7);;
}

.error-title {
	padding: 10rem 0 0 0;
	font-weight: bold;
}

.error-redirect {
	padding: 2rem 0 0 0;
	font-size: .6em;
}

.error-redirect a:hover {
	font-style: italic;
 	background:-webkit-linear-gradient(
 		90deg, 
 		rgba(87,242,193,1) 20%,
 		rgba(255,255,255,0.0) 10%
	);
}
	
#navbar {
	margin: 0;
	padding: 0.4rem 0rem 0.6rem 0rem;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 5;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	background-image: linear-gradient(to right, rgb(15,40,37), rgb(8,80,78));
	font-size: .5em;
	box-shadow: 0px 0px 5px 0px rgba(15,40,37,1);
}

#site-name {
	margin-left: 2rem;
	color: rgb(255,249,244);
}

#site-name:hover {
	font-style: italic;
 	background:-webkit-linear-gradient(
 		90deg, 
 		rgba(87,242,193,1) 20%,
 		rgba(255,255,255,0.0) 10%
	);
}

#site-nav {
	display: flex;
	align-items: center;
	padding-right: 1rem;
}

.nav-link {
	margin-right: 1rem;
	color: rgb(255,249,244);
	font-size: .76em;
}

.nav-link:hover {
	font-style: italic;
 	background:-webkit-linear-gradient(
 		90deg, 
 		rgba(87,242,193,1) 20%,
 		rgba(255,255,255,0.0) 10%
	);
}

.arrow-up {
	color: rgba(87,242,193,0);
	font-size: 1em;
	position: fixed;
	bottom: 5vh;
	right: 0.75vw;
}

.index-banner {
	margin: 0 auto;
	padding: 0.5rem 0 0 0rem;
	width: 100%;
	height: 60vh;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	background-image: linear-gradient(to right, rgb(15, 40, 37), teal);
	border-bottom: 10px solid rgba(15,40,37,0.5);
}

.banner-text {
	margin: auto 0;
	padding: 0vh 0 8vh 0vw;;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	color: rgb(255,255,255);
	text-align: left;
}

.banner-title {
	margin: 0;
	padding: 0 0 0 2vw;
	font-size: 9vw;
	font-weight: bold;
	letter-spacing: .05em;
}

.banner-subtitle {
	padding: 1rem 0 0 2.4vw;
	font-size: 2vw;
	color: rgb(255,255,255);
	font-weight: lighter;
	letter-spacing: .05em;
}

.call-to-action {
	margin-top: 1em;
	padding: 0.5rem 2rem;
	color: rgba(15,40,37,0.5);
	text-shadow: 2px 2px 2px rgba(87,242,193,0.5);
	font-size: 0.6em;
	background: rgba(255,255,255,1.0);
	letter-spacing: 3px;
	border-radius: 80px;
	font-weight: bold;
}

.call-to-action:hover {
	font-style: italic;
}

.snake-container {
	margin: 10vh 0 0 0vw;
	overflow: visible;
}

#snake-image {
	margin: 0px 0 0 0;
	padding: 3.5vh 0 0 1.5vw;
	height: 40vh;
    position: relative;
}

.main-container, .full-container {
	margin: -6rem auto 3rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: rgba(255,255,255,1);
	border-radius: 6px;
	box-shadow: 0px 0px 20px 0px rgba(120,120,120,0.4);
}

.main-container {
	padding: 4vh 5vw;
	width: 70vw;
}

.full-container {
	padding: 11vh 5vw;
	width: 80vw;
}

.blog-container {
	margin: 0 0vw 0 0;
	padding: 0 0vw 0 0vw;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
}

.blog-content {
	margin: 0 3vw 0 0;
	width: 75%;
}
.blog-content p {
	padding-bottom: 5px;
}

.content-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.section-title {
	margin: 0 0 1rem 0;
	padding-top: 1.3rem;
	display: flex;
	justify-content: flex-start;
}

.headline {
	font-size: 0.8em;
 	background:-webkit-linear-gradient(
 		90deg, 
 		rgba(87,242,193,0.7) 30%,
 		rgba(255,255,255,0.0) 10%
	);
}

.title-left {
	text-align: left;
}

.post-content {
	width: 100%;
	margin: 0 0vw 2rem 0;
}

.post-title {
	padding-top: 2rem;
	font-size: 0.7em;
}

.post-date {
	padding-top: 0.2rem;
	font-size: 0.3em;	
	color: rgba(100,100,100,0.7);
}

.post-body {
	padding: 0.7em 0 2rem 0;
	width: 100%;
	font-size: 0.4em;
	border-bottom: solid 3px rgba(87, 242, 193,0.4);
}

.archives-container {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	min-width: 150px;
	background: rgba(255,255,255,0.5);
	border-radius: 15px;
}

.archives-content {
	margin: 5vh auto;
	padding: 0vh 2vw 5vh 2vw;
	width: 100%;
	min-height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	border-left-width: 3px;
	border-left-style: solid;
	border-image: 
	    linear-gradient(
	      to top, 
	      rgba(87,242,193,0.7), rgb(6,125,124)
	    ) 1 100%;
	font-size: 0.4em;
}


/* RESUME */
.resume-top {
	margin: 3rem 0 0 0;
	width: 100%;
	min-height: 440px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	border-bottom: solid 6px rgba(87, 242, 193,0.4);
	background-image: url(../img/c_with_snake.png);
	background-repeat: no-repeat;
	background-size: 30rem auto;
	background-position: bottom right;
}

.resume-title {
	padding: 2rem 0 1rem 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

.resume-name {
	margin: 0 0 0.2rem 0;
	padding: 1rem 0 1rem 0;
	font-size: 2.5em;
	line-height: 1.2em;
	font-weight: bold;
	text-shadow: 2px 2px white;
}

.resume-subtitle {
	margin: 0 0 0.7em 0.2em;
	width: 100%;
	display: grid;
  	grid-gap: 20px;
  	grid-column: 1fr 1fr;
	font-size: 0.75em;
	font-weight: lighter;
	color: rgba(81,89,108,0.8);
	text-shadow: 2px 2px white;
}

.subtitle-line {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	/* background: rgba(255,255,255,0.5); */
}

.subtitle-line i {
	padding: 0 1.6rem;
	font-size: 0.4em;
	color: rgba(87, 242, 193,0.4);
}

.resume-content {
	margin: 0 auto 5rem auto;
	width: 100%;
}

.pill-box {
	margin: 3rem 0 1rem 0;
	width: 100%;
	display: flex;
  	flex-wrap: wrap;
	justify-content: flex-start;
}

.pill {
	margin: 0.5rem 2rem 0.8rem 0rem;
	padding: 0.2rem 1.6rem 0.4rem 1.6rem;
	min-width: 50px;
	color: rgba(15,40,37,0.7);
	font-size: 0.45em;
	background: rgba(87, 242, 193,0.3);
	border-radius: 40px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}

.tagline {
	font-weight: lighter;
	color: rgba(81,89,108,0.8);
	font-style: italic;
	line-height: 140%;
	font-size: .45em;
}

.tagline p {
	margin: 2rem 0 1rem 0;
}

.resume-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.resume-section-header {
	margin: 2.5rem 0 0.5rem 0;
	font-style: italic;
 	background:-webkit-linear-gradient(
 		90deg, 
 		rgba(87,242,193,0.5) 30%,
 		rgba(255,255,255,0.0) 10%
	);
}

.resume-section-title {
	font-size: 1.5em;
}

.resume-item {
	margin: 0 0 3.5rem 0;
	width: 60vw;
}

.resume-item-post {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	border-bottom: solid 3px rgba(87, 242, 193,0.4);
}

.post-title {
	flex-grow: 1;
	margin: 0.7rem 0 0.2rem 0;
	padding: 0.2rem 0 0.2rem 0;
	width: 100%;
	font-size: 0.6em;
	color: rgba(81,89,108,0.8);
}

.post-dates {
	min-width: 5rem;
	flex-grow: 0;
	color: rgba(81,89,108,0.7);
	font-weight: lighter;
	font-size: 0.4em;
	font-style: italic;
	text-align: right;
}

.resume-item-org {
	padding: 0.4rem 0 0 0;
	color: rgba(81,89,108,0.7);
	font-weight: lighter;
	font-size: 0.4em;
}

.resume-item-description {
}

.resume-item-task {
	margin: 1rem 0 0rem 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.resume-item-task i {
	padding: 0.7rem 1.3rem 0 0rem;
	font-size: 0.3em;
	color: rgba(87,242,193,0.4);
}

.resume-item-task-detail {
	font-size: 0.5em;
	color: rgba(81,89,108,0.8);
	letter-spacing: 150%;
} 






/* FORMS */
.form-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.form-label {
	margin: 0px;
	padding: 1rem 0 0px 0;
	font-size: 0.5em;
 	background:-webkit-linear-gradient(
 		90deg, 
 		rgba(87, 242, 193,0.7) 20%,
 		rgba(255,255,255,0.0) 10%
	);
}

textarea {
	margin: 1rem 0;
	padding: 0;
	width: 50vw;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border-radius: 8px;
	border: rgba(87, 242, 193,0.7) 2.2px solid;
	background-color: rgba(255,255,255,0.);
	resize: none;
	box-shadow: 3px 3px 10px 0px rgba(120,120,120,0.1);
}

textarea:focus {
	border: rgba(87, 242, 193,0.7) 5px solid;
	outline: rgba(87, 242, 193, 0.7) 0px solid;
	border-radius: 8px;
}

input {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: .3em;
	font-weight: bold;
	color: rgba(15,40,37,0.7);
}

input[type=submit] {
	margin: 0;
	padding: 0.2rem 1rem;
	background: white;
	border: rgba(87, 242, 193,0.7) 2.2px solid;
	border-radius: 8px;
}

input[type=submit]:hover {
 	background: rgba(87, 242, 193,0.3);
	color: rgba(15, 40, 37, 1);
}






@media (max-width: 640px){
	.resume-item {
		width: 90vw;
	}

}

@media (max-width: 768px){

	.resume-item {
		width: 90vw;
	}

}

@media (max-width: 1024px){

	.resume-item {
		width: 90vw;
	}

}

@media (max-width: 1200px){

	.resume-item {
		width: 90vw;
	}
}