<html>
	<head>
		{% if title %}
		<title>{{ title }} - PyCurious</title>
		{% else %}
		<title>Welcome to PyCurious!</title>
		{% endif %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/e957eaf03f.js" crossorigin="anonymous"></script>
		<!-- <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"> -->
	</head>
	<body>
		<div id="navbar">
			<div id="site-name">
				<a href="{{url_for('main.index')}}">PyCurious</a>
			</div>
			<div id="site-nav">
				{% if current_user.is_anonymous %}
				<a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
				{% else %}
				<a class="nav-link" href="{{ url_for('main.explore') }}">About</a>
				<a class="nav-link" href="{{ url_for('main.resume') }}">Resume</a>
				<a class="nav-link" href="{{ url_for('main.explore') }}">Explore</a>
				<a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
				<a class="nav-link" href="{{ url_for('main.user', username=current_user.username) }}">My profile</a>
				{% endif %}
			</div>
		</div>

		<div class="messages-container">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
		</div>
		<div class="arrow-up"><i class="fas fa-arrow-circle-up"></i></div>

		<!-- <div class="block-container"> -->
			{% block content %}
			{% endblock %}
		<!-- </div> -->	
		
		<script src="/static/scripts.js" charset="utf-8"></script>
	    {{ moment.include_jquery() }}
	    {{ moment.include_moment() }}
	    {{ moment.lang(g_locale) }}

	</body>
</html>