{% extends "base.html" %}

{% block content %}

	<div class="index-banner">
		<div class="banner-text">
			<div class="banner-title">PyCurious</div>
			<div class="banner-subtitle">Caitlin tackles Python one blog post at a time.</div>
			<!-- <div class="call-to-action">SUBSCRIBE!</div> -->
		</div>
		<div class="snake-container">
			<img id="snake-image" src="{{url_for('static', filename='img/snake_trans.png')}}" />
		</div>
	</div>

	<div class="main-container">
		<div class="blog-container">

			<div class="blog-content">
				<div class="section-title">
					<div class="headline">
						Post init
					</div>
				</div>
				<div class="post-content">
					<div class="post-title">
						Welcome to PyCurious!
					</div>
					<div class="post-date">
						Sunday, 10/06/2019
					</div>
					<div class="post-body">
						<p>
							In this blog, I'm going to be chronicling my tussles with the Python programming language.
						</p>

						<p>
							PyCurious, a Flask blog, kicks off this journey.
						</p>

						<p>
							Stay tuned for more soon!
						</p>
					</div>
				</div>
			</div>	
			<div class="archives-container">
				<div class="archives-content">
					Previous posts
				</div>	
			</div>
		</div>

		{% if form %}
		<!-- <form class="form-container" action="" method="post">
			{{ form.hidden_tag() }}
			<div class="form-label">
				{{ form.comment.label }}
			</div>
			<div class="form-input">
				{{ form.comment(cols=32, rows=4)}}
			</div>
				{% for error in form.comment.errors %}
				<span style="color:red;">[{{ error }}]</span>
				{% endfor %}
			<div class="button-standard">
				{{ form.submit }}
			</div>

		</form> -->
		{% endif %}

		<div class="comments-container">
			{% for comment in comments %}
				<!-- {% include 'partials/_comment.html' %} -->
			{% endfor %}
			{% if prev_url %}
				<a href="{{ prev_url }}">Newer comments</a>
			{% endif %}
			{% if next_url %}
				<a href="{{ next_url }}">Older comments</a>
			{% endif %}
		</div>
	</div>
	
{% endblock %}