{% extends "base.html" %}

{% block content %}
	<div class="full-container">
		<div class="content-container">

			<div class="resume-top">
				<div class="resume-title">
					<div class="resume-name">
						CAITLIN M. SNYDER
					</div>
					<div class="resume-subtitle">
						<div class="subtitle-line">
							PYTHON DEVELOPER
							<i class="fas fa-circle"></i>
							MASTER OF PUBLIC HEALTH
						</div>
						<div class="subtitle-line">
							MMA ENTHUSIAST
							<i class="fas fa-circle"></i>
							ACCIDENT-PRONE CYCLIST
						</div>
						<div class="subtitle-line">
							DATA-DRIVEN EVALUATOR
							<i class="fas fa-circle"></i>
							CRISIS RESPONDER
						</div>
					</div>
				</div>
			</div>

			<div class="resume-content">
				<div class="tagline">
					<p>Driven junior programmer and MPH with 10 years of public health information management experience in volatile international environments. Resourceful self-led learner and creative, solutions-oriented collaborator.</p>

					<p>Proven ability to work effectively both independently and in partnership with others. Skilled public speaker, writer and capacity builder. Significant management experience (65+ team members) in diverse contexts (DR Congo, Central African Republic, Rwanda, Senegal).</p> 
				</div>

				<div class="pill-box">
					<div class="pill">PYTHON</div>
					<div class="pill">DJANGO</div>
					<div class="pill">FLASK</div>
					<div class="pill">SQL</div>
					<div class="pill">JAVASCRIPT</div>
					<div class="pill">GIT</div>
					<div class="pill">GITHUB</div>
					<div class="pill">RUBY</div>
					<div class="pill">RAILS</div>
					<div class="pill">FRENCH</div>
					<div class="pill">HTML5</div>
					<div class="pill">CSS3</div>
					<div class="pill">R</div>
					<div class="pill">SAS</div>
				</div>

				<div class="resume-section">

					<div class="resume-section-header">
						PROGRAMMING
					</div>

					<div class="resume-items">

						<!--  DRC -->
						<div class="resume-item">
							<div class="resume-item-post">
								<div class="post-title">
									Evaluation & Learning Director
								</div>
								<div class="post-dates">
									2017 - 2019
								</div>
							</div>
							<div class="resume-item-org">
								Mercy Corps, DR Congo
							</div>
							<div class="resume-item-description">
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Coded and deployed Django/Postgres humanitarian crisis monitoring website
									</div>
								</div>
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Developed JavaScript programs to automate JSON data parsing/cleaning, data analysis, dashboard visualizations
									</div>
								</div>
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Conducted statistical analyses with Python
									</div>
								</div>
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Led 65-member technical department
									</div>
								</div>
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										(Promoted from Monitoring, Evaluation & Learning Manager, May 2018 - Mar 2019.)
									</div>
								</div>
							</div>
						</div>

						<!--  CAR -->
						<div class="resume-item">
							<div class="resume-item-post">
								<div class="post-title">
									Research & Evaluation Coordinator
								</div>
								<div class="post-dates">
									2015 - 2017
								</div>
							</div>
							<div class="resume-item-org">
								International Rescue Committee, Central African Republic
							</div>
							<div class="resume-item-description">
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Conducted statistical analyses with R
									</div>
								</div>
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Developed interactive dashboards for end-user exploratory analysis
									</div>
								</div>
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Authored VBA scripts to automate data cleaning, analysis, visualization
									</div>
								</div>
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Created guides to facilitate end-user adoption for organizational technologies
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="resume-section-header">
						RESEARCH
					</div>

						<!--  MEASURE Evaluation -->
						<div class="resume-item">
							<div class="resume-item-post">
								<div class="post-title">
									Graduate Research Assistant
								</div>
								<div class="post-dates">
									2014 - 2015
								</div>
							</div>
							<div class="resume-item-org">
								MEASURE Evaluation, North Carolina
							</div>
							<div class="resume-item-description">
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Supported project management information system design
									</div>
								</div>
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Maintained project results database
									</div>
								</div>
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Identified result baselines
									</div>
								</div>
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Contributed to M&E plan development
									</div>
								</div>
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Prepared M&E Unit operational guidelines
									</div>
								</div>
							</div>
						</div>

						<!--  UNC -->
						<div class="resume-item">
							<div class="resume-item-post">
								<div class="post-title">
									UNC Graduate Research Assistant
								</div>
								<div class="post-dates">
									2013 - 2014
								</div>
							</div>
							<div class="resume-item-org">
								University of North Carolina at Chapel Hill
							</div>
							<div class="resume-item-description">
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Supported research related to adolescent dating violence
									</div>
								</div>
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Developed literature review database
									</div>
								</div>
							</div>
						</div>


						<div class="resume-section-header">
							PUBLIC HEALTH
						</div>

						<!--  IntraHealth -->
						<div class="resume-item">
							<div class="resume-item-post">
								<div class="post-title">
									Public Health Graduate Fellow
								</div>
								<div class="post-dates">
									2014
								</div>
							</div>
							<div class="resume-item-org">
								IntraHealth International, North Carolina
							</div>
							<div class="resume-item-description">
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Led gender audit of Senegal projects (funded by Gates Foundation and USAID)
									</div>
								</div>
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Authored technical brief on malaria prevention among pregnant women
									</div>
								</div>
							</div>
						</div>

						<!--  PARTNERS IN HEALTH -->
						<div class="resume-item">
							<div class="resume-item-post">
								<div class="post-title">
									Program Manager
								</div>
								<div class="post-dates">
									2011 - 2012
								</div>
							</div>
							<div class="resume-item-org">
								Partners In Health, Rwanda
							</div>
							<div class="resume-item-description">
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Coordinated microfinance activities for 800+ HIV/AIDS youth activists
									</div>
								</div>
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Designed programmatic monitoring and evaluation system
									</div>
								</div>
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Researched program expansion at national level
									</div>
								</div>
							</div>
						</div>

						<!--  TOSTAN -->
						<div class="resume-item">
							<div class="resume-item-post">
								<div class="post-title">
									Programs Assistant
								</div>
								<div class="post-dates">
									2010 - 2011
								</div>
							</div>
							<div class="resume-item-org">
								Tostan, Senegal
							</div>
							<div class="resume-item-description">
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Trained field staff on monitoring and evaluation procedures
									</div>
								</div>
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Conducted follow-up interviews with program beneficiaries
									</div>
								</div>
								<div class="resume-item-task">
									<i class="fas fa-circle"></i>
									<div class="resume-item-task-detail">
										Led qualitative evaluations of regional pilot project
									</div>
								</div>
							</div>
						</div>





						<div class="resume-section-header">
							TRAINING
						</div>

						<!--  Le Wagon -->
						<div class="resume-item">
							<div class="resume-item-post">
								<div class="post-title">
									Software Engineering Bootcamp
								</div>
								<div class="post-dates">
									2019
								</div>
							</div>
							<div class="resume-item-org">
								Le Wagon, Québec
							</div>
						</div>

						<!--  Flatiron -->
						<div class="resume-item">
							<div class="resume-item-post">
								<div class="post-title">
									Data Science Bootcamp
								</div>
								<div class="post-dates">
									Underway
								</div>
							</div>
							<div class="resume-item-org">
								Flatiron School, New York
							</div>
						</div>

						<!--  UoPeople -->
						<div class="resume-item">
							<div class="resume-item-post">
								<div class="post-title">
									B.S. Computer Science
								</div>
								<div class="post-dates">
									Underway
								</div>
							</div>
							<div class="resume-item-org">
								University of the People, California
							</div>
						</div>

						<!--  UNC -->
						<div class="resume-item">
							<div class="resume-item-post">
								<div class="post-title">
									Master of Public Health
								</div>
								<div class="post-dates">
									2015
								</div>
							</div>
							<div class="resume-item-org">
								UNC-Chapel Hill, North Carolina
							</div>
						</div>

						<!--  Wellesley -->
						<div class="resume-item">
							<div class="resume-item-post">
								<div class="post-title">
									B.A. French; Peace & Justice
								</div>
								<div class="post-dates">
									2010
								</div>
							</div>
							<div class="resume-item-org">
								Wellesley College, Massachusetts
							</div>
						</div>



					</div>
				</div>
			</div>
		</div>
	</div>

	
{% endblock %}